include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug 
include ../button/button.pug

mixin search-card 
  form.search-card(action="search-room.html")
    h1.search-card__title Найдём номера под ваши пожелания
    +date-dropdown( { 
      class: "search-card__date-dropdown", 
      label1: "прибытие", 
      label2: "выезд" 
    })

    label.label(for="dropdown")
      span.label__text гости
    +dropdown({ 
      type: "guests" ,
      id: "dropdown"               
    })

    +button({
      type: "submit",
      value: "Подобрать номер",
      modifiers: ["button_large"]
    })