include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug 
include ../button/button.pug

mixin search-card 
  form.search-card
    h1.search-card__title Найдём номера под ваши пожелания
    +date-dropdown( { 
      class: "search-card__date-dropdown",
      id: "search-card", 
      label1: "прибытие", 
      label2: "выезд" 
    })

    label.label
      span.label__text гости
      +dropdown({ 
        type: "guests"                
      })

    +button({
      url: "../search-room/index.pug",
      type: "submit",
      name: "button",
      value: "Подобрать номер",
      modifiers: ["button-item_large"]
    })