.label {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  padding: 10px;
}

.label__text   {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #1F2041
}