mixin font( options )
  .font( class=options.font_modifiers )
    span.font__allocation( class=options.font__allocation_modifiers )=options.allocation
    span.font__example( class=options.font__example_modifiers )=options.example