.author {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #1F2041BF;
  display: flex;

  &__photo {
    height: 48px;
    width: 48px;

    background: grey;
    object-fit: cover;
    object-position: center;
    
    border-radius: 50%;
  }

  &__info {
    min-width: 220px;
    padding-left: 10px;
  }

  &__name {
    font-weight: 700;
  }
}