mixin range-slider
  .range-slider
    div.range-slider__prices 
      span.range-slider__label Диапазон цены
      .range-slider__info
        input.range-slider__price#price-start(
          type="text"
          readonly
          tabindex="-1"
        )
        span.range-slider__dash -
        input.range-slider__price#price-end(
          type="text"
          readonly
          tabindex="-1"
        )
    .range-slider__slider#slider

