.noUi-target.noUi-ltr.noUi-horizontal {
  height: 7px;
  border: 1px solid #1F204140;
}

.noUi-connects > .noUi-connect {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.noUi-handle.noUi-handle-lower::after,
.noUi-handle.noUi-handle-lower::before,
.noUi-handle.noUi-handle-upper::after,
.noUi-handle.noUi-handle-upper::before {
  display: none;
}

.noUi-handle.noUi-handle-lower,
.noUi-handle.noUi-handle-upper {
  border: 2px solid white;
  border-radius: 50%;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.noUi-origin > .noUi-handle {
  box-shadow: none;
}

.noUi-origin > .noUi-handle:focus-visible {
  outline: 1px solid #1F204180;
}

div.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  right: -7px;
  top: -5px;
}

.range-slider {
  text-align: right;

  &__prices {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #1F204180;

    display: flex;
    justify-content: space-between;
  }

  &__label {
    font-weight: 700;
    color: #1F2041;
    text-transform: uppercase;
  }

  &__price:nth-child(3){
    text-align: left;
  }

  &__price {
    width: 55px;
    height: 15px;
    border: none;
    margin-bottom: 24px;
    text-align: right;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;

    &:focus {
      outline: none;
    }
  }
}