.star {
  display: flex;
  align-items: center;
  
  &__btn {
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__style {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../src/blocks/star/star_border-min.svg") no-repeat center;
    margin-left: 4px;
  }

  &__btn:checked + &__style {
    background-image: url("../src/blocks/star/star-min.svg");
  }

  &__style_active {
    background-image: url("../src/blocks/star/star-min.svg");
  }

  &__btn:focus-visible + &__style {
    outline: 1px solid #1F204180;
    border-radius: 50%;
  }
}