extends ../../../src/layouts/carcas/carcas.pug

block variables 
  - let title = "Search room"

block append includes
  include ../../../src/blocks/pagination/pagination.pug

block scripts 
  script(defer src="../../../src/search-room.js")

block content
  .container
    //- боковая панель
    include ../../../src/layouts/side-bar/side-bar.pug
          
    //- результат поиска
    .rooms 
      .rooms__main 
        include ../../../src/layouts/room-cards/room-cards.pug 

      //- пагинация
      .rooms__footer
        +pagination({
          numberOfPages: 15,
          currentPage: 1,
          info: "1 – 12 из 100+ вариантов аренды"
        })