include ../button/button.pug 

mixin pagination( { numberOfPage, currentPage, info } )
  - let pageNumbers = [ 
  -  ( currentPage % 2 ) ?  currentPage : currentPage - 1,
  -  ( currentPage % 2 ) ?  currentPage + 1 : currentPage, 
  -  ( currentPage % 2 ) ?  currentPage + 2 : currentPage + 1
  - ]
  .pagination(area-label="Блок пагинации")
    .pagination__buttons 
      each i in pageNumbers
        +button({
          type: "button",
          name: "page",
          value: i,
          modifiers: ( i === currentPage) ? [ "button-item_round", "button-item_active" ] : "button-item_round"
        })
      span.pagination__ellipsis ...
      each i in [ 1, 2 ]
        +button({
              type: "button",
              name: "page",
              value: ( i === 1) ? numberOfPages : " ",
              modifiers: ( i === 1 ) ? "button-item_round" : "button-item_with-arrow-forward"
            })
    span.pagination__info=info