include ../text-field/text-field.pug

mixin filter-date-dropdown(options)
  .filter-date-dropdown
    +text-field({
      type: "text", 
      id: options.id,
      readonly: true,
      name: "dates",
      theme: "dropdown"
    })