.content {
  background: url(landing-bg1-min.jpg) no-repeat center;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  min-height: calc(100vh - 70px);
  
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    min-height: calc(100vh - 70px);
    padding: 70px 10px 2px;
  }

 
  &__text {
    max-width: 297px;
    align-self: flex-end;
    
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #1F2041BF;
  }
}