.content {
  background: url(landing-bg1-min.jpg) no-repeat center;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.container {
  margin: 0 auto;
  padding: 70px 10px;
  max-width: 1180px;

  &__inner {
    min-height: calc(100vh - 71px);
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #1F2041BF;
    align-self: flex-end;
    max-width: 297px;
  }
}