include ../../blocks/album/album.pug 

mixin room-cards(options)
  section.room-cards
    h2.room-cards__title Номера, которые мы для вас подобрали
    button.room-cards__button

    ul.room-cards__list
      each item, key in options
        - item.id = "carousel-" + key
        li.room-cards__item
          +album(item)