mixin convenience(options)
  .convenience
    img.convenience__img(src=options.url, alt="")
    .convenience__description
      .convenience__title=options.title 
      .convenience__text=options.text
  