include ../button/button.pug 
include ../logo/logo.pug

mixin header( { user, urlRegPage, urlSignInPage } = {} )
  header.header
    .header__container
      +logo

      //- блок навигации
      include ../navigation/navigation.pug
        
      if ( user )
        span.header__user=user
      else 
        //- кнопки регистрации и входа в личный кабинет
        .header__buttons
          .header__item
            +button({
            url: urlSignInPage,
            type: "button",
            value: "войти",
            modifiers: "button-item_with-border"
          })
          .header__item
            +button({
              url: urlRegPage,
              type: "button",
              value: "Зарегистрироваться"
          })

          //- кнопки иконки для мобильной версии
          .header__item.header__item_hidden
            a.header__link(href=urlSignInPage)
              img(src="../../../src/blocks/header/log_in_icon_128822.svg", alt="")
          
          .header__item.header__item_hidden
            a.header__link(href=urlRegPage)
              img(src="../../../src/blocks/header/checkform-min.svg", alt="")
          
          //- бургер
          include ../burger/burger.pug