@mixin display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: white;
  box-shadow: 0px 10px 20px 0px #1F20410D;
  
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #1F204180;

  position: relative;

  & .button{
    height: 34px;
    line-height: 34px;
    
    @media (max-width: 530px) {
      display: none;
    }
  }

  & input.button-item.button-item_with-border {
    width: 87px; 
  }

  & .button-item:last-child {
    width: 196px; 
  }

} 


.header__container {
  @include display;
  margin: 0 auto;
  padding: 15px 10px;
  max-width: 1180px;
}


.header__buttons {
  @include display;
}



.header__item {
  margin-right: 20px;

  &_hidden {
    display: none;
    width: 34px;
    height: 34px;
  
    @media (max-width: 530px) {
      display: block;
    }
  }
}


.header__buttons 
.header__item:nth-child(2) {
  margin-right: 0;

  @media (max-width: 950px) {
    margin-right: 20px;
  }
}


.header__user{
  margin-left: 2px;
  border-left: 1px solid #1F20411A;
  padding-left: 20px;
  display: inline-block;
  height: 30px;
  padding-top: 6px;
}