.basicInfoAboutRoom {
  font-family: Montserrat,Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
 
  &__number {
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   color: #1F2041;
  }
 
  &__room {
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   color: #1F2041;
  }
 
  &__service-class {
   color: #BC9CFF;
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;
   text-transform: uppercase;
  }
 
  &__price-per-day {
   color: #1F204180;
   line-height: 18px;
   font-size: 14px;
   font-weight: 700;
  }
 
  &__text {
   font-size: 12px;
   font-weight: 400;
  }
}