mixin checkbox-button(options)
  label.check-box
    input.check-box__item(type="checkbox")
    span.check-box__style
    if options.title
      .check-box__title=options.title
      span.check-box__text.check-box__text_small=options.text
    else
       span.check-box__text=options.text

    
