.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 20px 10px;

  display: flex;
  justify-content: space-between;
}

.side-bar {
  width: 276px;
  padding: 0 10px 0 0;
  margin-right: 50px;

  background: white;

  transition: transform .2s ease-in-out;

  &_active {
    transform: translateY(0) !important;
  }

  @media (max-width: 920px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 290px;
    padding: 10px 10px;
    height: 100vh;
    overflow: auto;

    transform: translateX(-100%);
  }

  &__form {
    width: 266px;
  }

    &__form-element + &__form-element {
    margin-bottom: 20px;
  }

  & &__form-element:nth-child(4),
  & &__form-element:nth-child(5) {
    margin-bottom: 0;

    .label__text {
      margin-bottom: 16px;
    }
  }

  .range-slider + small {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #1F204180;
    
    display: inline-block;
    margin-top: 14px;
  }
}