.button {
  display: inline-block;
  width: 100%;
}

.button-item {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  border-radius: 22px;
  width: 100%;
  height: 44px;
  text-transform: uppercase;
  cursor: pointer;
  
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  padding: 0 20px;
  transition: box-shadow .2s linear;

  &_large {
    padding-right: 10px;
    width: 100%;
    
    background: 
      url("./arrow_forward-min.svg") 
      content-box
      no-repeat
      right center, 
      linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

  &_with-border {
    border: 2px solid transparent;
    background: 
      linear-gradient(white, white)
      content-box,
      linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
      border-box;
    color: #BC9CFF;
    padding: 0;
  }

  &_minimalistic {
    color: #BC9CFF;
    width: min-content;
    height: min-content;
    background: none;
  }

  &_round {
    width: 40px;
    height: 40px;
    padding: 0;

    border-radius: 50%;
    background: none;

    color: #1F204180;
    font-weight: 400;

    @media (max-width: 390px) {
      width: 30px;
      height: 30px;
    }
  }

  &_active {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
    font-weight: 700;
  }

  &_with-arrow-forward {
    background: 
      url("./arrow_forward-min.svg") 
      content-box
      no-repeat
      center, 
      linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;

    @media (max-width: 390px) {
      width: 30px;
         height: 30px;
    }
  }

  &_with-arrow-back {
    background: 
      url("./arrow_back-min.svg") 
      content-box
      no-repeat
      center, 
      linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;

    @media (max-width: 390px) {
      display: none;
    }
  }

  &:active {
    transform: scale(0.95, 0.95);
  }
  
  &:disabled {
    opacity: 0.5;
  }

  .button-item.button-item_minimalistic:disabled {
    color: #1F204180;
    opacity: 1;
  }

  &:focus-visible {
    outline: 2px solid #1F204180;
    outline-offset: 1px;
  }

  &:hover {
    box-shadow: 0 0 7px 3px rgba(15, 48, 238, 0.2);
  }
}