include ../text-field/text-field.pug 

mixin subscription-text-field(options)
  .subscription-text-field
    +text-field(options)
    button.subscription-text-field__button
      //- img.subscription-text-field__img(
      //-   src="../src/blocks/subscription-text-field/arrow_forward-min.svg" 
      //-   alt=""
      //- )