mixin preview( { urls } )
  .preview
    .preview__left 
      img(src=urls[0], alt="")
    .preview__right 
      .preview__right-top
        img(src=urls[1], alt="")
      .preview__right-bottom 
        img(src=urls[2], alt="")