include ../counter/counter.pug
include ../text-field/text-field.pug

mixin dropdown(options)
  - let settingsForCounters
  - let settingsForHiddenTextFields
  - let { numberGuests } = options
  case options.type
    when "rooms"
      .dropdown(data-type=options.type tabindex="0")
        +text-field({
          type: "text", 
          name: "number-bedrooms", 
          theme: "dropdown",
          readonly: true,
          tabIndex: "-1"
        })
        .dropdown__container
          .dropdown__list.dropdown__list_closed 
            - settingsForCounters = [
            -  { category: "Спальни" },
            -  { category: "Кровати" },
            -  { category: "Ванные комнаты" }
            - ] 
            each item in settingsForCounters
              +counter( item )        
        
        .dropdown__hidden-fields
          - settingsForHiddenTextFields = [ 
          -  { type: "text", name: "number-bedrooms" }, 
          -  { type: "text", name: "number-beds" }, 
          -  { type: "text", name: "number-bathrooms" } 
          - ]
          each item in settingsForHiddenTextFields
            +text-field( item )
    when "guests"
      .dropdown(tabindex="0")
        +text-field({
          type: "text", 
          name: "number-guests", 
          placeholder: "Сколько гостей", 
          theme: "dropdown",
          readonly: true,
          tabIndex: "-1"
        })
        .dropdown__container
          .dropdown__list.dropdown__list_closed 
            - settingsForCounters = [
            -  { category: "Взрослые", number: (numberGuests) ? numberGuests.adults : "0" },
            -  { category: "Дети", number: (numberGuests) ? numberGuests.children : "0" },
            -  { category: "Младенцы", number: (numberGuests) ? numberGuests.babies : "0" }
            - ]
            each item in settingsForCounters
              +counter( item )        
            .dropdown__buttons
              button.dropdown__button-clear(type="button" data-parent='dropdown') Очистить
              button.dropdown__button-apply(type="button" "disabled" data-parent='dropdown') Применить
        
        .dropdown__hidden-fields
          - settingsForHiddenTextFields = [ 
          -  { type: "text", name: "number-adults" }, 
          -  { type: "text", name: "number-children" }, 
          -  { type: "text", name: "number-babies" } 
          - ] 
          each item in settingsForHiddenTextFields
            +text-field( item )