include ../counter/counter.pug

mixin dropdown(options)
  .dropdown
    +text-field(options)
    .dropdown__container
      .dropdown__list
        +counter( { category: "Взрослые" } )
        +counter( { category: "Дети" } )
        +counter( { category: "Младенцы" } )
        .dropdown__buttons
          button.dropdown__button-clear Очистить
          button.dropdown__button-apply Применить
    .dropdown__hidden-fields
      +text-field( { type: "text", name: "number-adults" } )
      br
      +text-field( { type: "text", name: "number-children" } )
      br
      +text-field( { type: "text", name: "number-babies" } )

    






      
   
      
