include ../counter/counter.pug
include ../text-field/text-field.pug

mixin dropdown(options)
  case options.dataType
    when "rooms"
      .dropdown(class=options.class data-type=options.dataType tabindex="0")
        +text-field(options.textField)
        .dropdown__container
          .dropdown__list.dropdown__list_closed  
            each obj in options.counters
              +counter( obj )        
        .dropdown__hidden-fields
          each obj in options.hiddenTextFilds
            +text-field( obj )
    default
      .dropdown(class=options.class tabindex="0")
        +text-field(options.textField)
        .dropdown__container
          .dropdown__list.dropdown__list_closed  
            each obj in options.counters
              +counter( obj )        
            .dropdown__buttons
              button.dropdown__button-clear(type="button" data-parent='dropdown') Очистить
              button.dropdown__button-apply(type="button" "disabled" data-parent='dropdown') Применить
        .dropdown__hidden-fields
          each obj in options.hiddenTextFilds
            +text-field( obj )