@mixin bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.page__content {
  flex: 1 0 auto;

  &_bg-landing {  
    animation: landing 15s infinite alternate;
  }

  &_bg-sign-in {
    animation: signIn 10s infinite alternate;
  }

  &_bg-registration {
    animation: registration 10s infinite alternate;
  }

  &_with-border {
    border-bottom: 1px solid #1F204140;
  }
}


@keyframes landing {
  0%, 15%{
    background: url(bg-1-min.jpg?as=webp&quality=75);

    @include bg;
  }
  40%, 55% {
    background: url(bg-2-min.jpg?as=webp&quality=75);

    @include bg;
  }
  85%, 100% {
    background: url(bg-3-min.jpg?as=webp&quality=75);
    @include bg;
  }
}

@keyframes signIn {
  0%, 30%{
    background: url(bg-4-min.jpg?as=webp&quality=75);
    @include bg;
  }
  70%, 100% {
    background: url(bg-1-min.jpg?as=webp&quality=75);
    @include bg;
  }
}

@keyframes registration {
  0%, 30%{
    background: url(bg-4-min.jpg?as=webp&quality=75);
    @include bg;
  }
  70%, 100% {
    background: url(bg-5-min.jpg?as=webp&quality=75);
    @include bg;
  }
}