.content {
  background: url(sign-in-bg1-min.jpg) no-repeat center;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.container {
  margin: 0 auto;
  padding: 172px 10px;
  max-width: 1180px;
  min-height: calc(100vh - 71px);

  &__inner {
    margin: 0 auto;
    width: min-content;
  }
}