.bullet-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #1F2041BF;
    padding: 10px;
    padding-left: 0;
  }

  &__item::before {
    content: "";
    display:inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1F204140;
    margin-right: 10px;  
  }
}