.bullet-list {
  list-style-image: url("../src/blocks/bullet-list/Ellipse-min.svg");
  padding: 0 10px 10px 18px;
  margin-top: 7px;

  &__item {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #1F2041BF;
    padding: 0 10px 10px 3px;
  }
}