.check-box {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #1F204180;
  padding: 0 10px 12px 31px;

  &__item {
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;   
    
    &:checked + .check-box__style::before {
      content: "";
      width: 6px;
      height: 8px;
      position: absolute;
      top: 5px;
      left: 3px;
      border-bottom: 3px solid transparent;
      border-right: 3px solid transparent;
      transform-origin: right bottom;
      transform: rotate(45deg);
      border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-image-slice: 1;
    }

    &:checked + .check-box__style {
      border: 1px solid #BC9CFF;
    }

    &:focus-visible + .check-box__style {
      outline: 1px solid #1F204180;
    }
    
  }
  
  &__style {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    margin-right: 10px;
    margin-left: -30px;
  }

  &__title {
    display: block;
    color: #1F2041BF;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__text_small {
    font-size: 12px;
    line-height: 14px;
  }
}

