doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    include ../src/blocks/color-card/color-card.pug
    include ../src/blocks/logo/logo.pug
    include ../src/blocks/font/font.pug
    include ../src/blocks/dropdown/dropdown.pug
    include ../src/blocks/checkbox-button/checkbox-button.pug
    include ../src/blocks/convenience/convenience.pug
    include ../src/blocks/comment/comment.pug

    script(defer src="../src/index.js") 

    title UI Kit
  body
    header.header
      .header__container
        +logo
    main.main
      .container
        section.colors
          +color-card( { code: "#1F2041", name: "Dark Shade 100%" } )
          +color-card( { code: "#1F2041", name: "Dark Shade 75%", modifiers: "color-card__square_dark-shade_75" } )
          +color-card( { code: "#1F2041", name: "Dark Shade 50%", modifiers: "color-card__square_dark-shade_50" } )
          +color-card( { code: "#1F2041", name: "Dark Shade 25%", modifiers: "color-card__square_dark-shade_25" } )
          +color-card( { code: "#1F2041", name: "Dark Shade 5%", modifiers: "color-card__square_dark-shade_5" } )
          +color-card( { code: "#1F2041", name: "Purple", modifiers: "color-card__square_purple" } )
          +color-card( { code: "#1F2041", name: "Green", modifiers: "color-card__square_green" } )
        section.fonts
          +font( 
            { allocation: "h1", 
            example: "This one is the sub-section or widget title", 
            font_modifiers: [ "font_text-size_xl", "font__example_bold" ],
            font__example_modifiers: "font__example_container-size_xl"
            })
          +font( 
            { allocation: "h2", 
            example: "Next one is the item title inside widgets", 
            font_modifiers: [ "font_text-size_lg", "font__example_bold" ],
            font__example_modifiers: "font__example_container-size_lg"
            })
          +font( 
            { allocation: "h3", 
            example: "This is a label or CTA text", 
            font_modifiers: [ "font_text-size_md", "font__example_bold" ],
            font__example_modifiers: "font__example_container-size_sm"
            })
          +font( 
            { allocation: "body", 
            example: "This is the body text which is used for most of the design, like paragraphs, lists, etc.", 
            font_modifiers: "font_text-size_sm",
            font__allocation_modifiers: "font__allocation_uppercase_disabled",
            font__example_modifiers: "font__example_dark-shade_75" ,
            font__example_modifiers: "font__example_container-size_md"
            })

    label.label
      span.label__text text field
      +text-field( { type: "email", name: "email", placeholder: "email" } )

    label.label
      span.label__text Dropdown
      +dropdown( { 
          dataType: "guests",                
          textField: {
            type: "text", 
            name: "number-guests", 
            placeholder: "Сколько гостей", 
            modifiers: "text-field_cursor_pointer",
            readonly: true,
            tabIndex: "-1"
          },
          counters: [
            { category: "Взрослые" },
            { category: "Дети" },
            { category: "Младенцы" }
          ],
          hiddenTextFilds: [ 
            { type: "text", name: "number-adults" }, 
            { type: "text", name: "number-children" }, 
            { type: "text", name: "number-babies" } 
          ],           
        } 
      )
    
    label.label
      span.label__text Dropdown
      +dropdown( { 
          dataType: "rooms",
          textField: {
            type: "text", 
            name: "number-bedrooms", 
            modifiers: "text-field_cursor_pointer",
            buttonsModifiers: "dropdown__buttons_hidden",
            readonly: true,
            tabIndex: "-1"
          },
          counters: [
            { category: "Спальни", dataType: "bedrooms" },
            { category: "Кровати", dataType: "beds" },
            { category: "Ванные комнаты", dataType: "bathrooms" }
          ],
          hiddenTextFilds: [ 
            { type: "text", name: "number-bedrooms" }, 
            { type: "text", name: "number-beds" }, 
            { type: "text", name: "number-bathrooms" } 
          ],
          buttonsModifiers: "dropdown__buttons_hidden"
        } 
      )

    label.label
      span.label__text Checkbox-Buttons
      +checkbox-button({
          text: "Можно курить"
      })
      +checkbox-button({
        text: "Можно с питомцами"
      })
      +checkbox-button({
          text: "Можно пригласить гостей (до 10 человек)"
      })
    
    label.label
      span.label__text convenience
      +convenience({
        url: "../src/blocks/convenience/insert_emoticon-min.svg",
        title: "Комфорт",
        text: "Шумопоглощающие стены"          
      })

      +convenience({
        url: "../src/blocks/convenience/location_city-min.svg",
        title: "Удобство",
        text: "Окно в каждой из спален"          
      })

    label.label
      span.label__text comment
      +comment({
        author: {
          url: "../src/blocks/author/ava.jpg",
          name: "Мурад Сарафанов",
          additionalInfo: "5 дней назад"
        },
        likes: {
          url: "../src/blocks/likes/favorite_border-min.svg",
          number: 12
        },
        text: "Великолепный матрас на кровати в основной спальне!\
          А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. \
          Выкрикивал комплименты повару — никто не жаловался из соседей."
      })

    label.label
      span.label__text Rich Checkbox Buttons
      +checkbox-button({
        title: "Широкий коридор",
        text: "Ширина коридоров в номере не менее 91 см."
      })
      +checkbox-button({
        title: "Помощник для инвалидов",
        text: "На 1 этаже вас встретит специалист  и проводит до номера."
      })

          

          



