doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta( http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    include ../src/blocks/color-card/color-card.pug
    include ../src/blocks/logo/logo.pug
    include ../src/blocks/font/font.pug
    include ../src/blocks/text-field/text-field.pug
    include ../src/blocks/dropdown/dropdown.pug

    link(rel="stylesheet" href="./index.scss")

    title UI Kit
  body.body(onload="loadPage()")
    header.header
      .header__container
        +logo
    main.main
      .container
        section.colors
          +color-card( { code: "#1F2041", name: "Dark Shade 100%" } )
          +color-card( { code: "#1F2041", name: "Dark Shade 75%", modifiers: "color-card__square_dark-shade_75" } )
          +color-card( { code: "#1F2041", name: "Dark Shade 50%", modifiers: "color-card__square_dark-shade_50" } )
          +color-card( { code: "#1F2041", name: "Dark Shade 25%", modifiers: "color-card__square_dark-shade_25" } )
          +color-card( { code: "#1F2041", name: "Dark Shade 5%", modifiers: "color-card__square_dark-shade_5" } )
          +color-card( { code: "#1F2041", name: "Purple", modifiers: "color-card__square_purple" } )
          +color-card( { code: "#1F2041", name: "Green", modifiers: "color-card__square_green" } )
        section.fonts
          +font( 
            { allocation: "h1", 
            example: "This one is the sub-section or widget title", 
            font_modifiers: [ "font_text-size_xl", "font__example_bold" ],
            font__example_modifiers: "font__example_container-size_xl"
            })
          +font( 
            { allocation: "h2", 
            example: "Next one is the item title inside widgets", 
            font_modifiers: [ "font_text-size_lg", "font__example_bold" ],
            font__example_modifiers: "font__example_container-size_lg"
            })
          +font( 
            { allocation: "h3", 
            example: "This is a label or CTA text", 
            font_modifiers: [ "font_text-size_md", "font__example_bold" ],
            font__example_modifiers: "font__example_container-size_sm"
            })
          +font( 
            { allocation: "body", 
            example: "This is the body text which is used for most of the design, like paragraphs, lists, etc.", 
            font_modifiers: "font_text-size_sm",
            font__allocation_modifiers: "font__allocation_uppercase_disabled",
            font__example_modifiers: "font__example_dark-shade_75" ,
            font__example_modifiers: "font__example_container-size_md"
            })

          label.label
            span.label__text text field
            +text-field( { type: "email", name: "email", placeholder: "email" } )

          label.label
            span.label__text Dropdown
          +dropdown( 
            { 
              type: "text", 
              name: "number-guests", 
              placeholder: "Сколько гостей", 
              modifiers: "text-field_cursor_pointer" ,
              readonly: "readonly" 
            } )



         

          

     
    
    
    script
      include ../src/blocks/body/body.js
      include ../src/blocks/dropdown/dropdown.js


    