*,
*::after,
*::before {
  box-sizing: border-box;
}

.body {
  margin:0;
  // display: none;
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: 
    local(Montserrat),
    url("../src/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../src/fonts/Montserrat-Regular.woff") format("woff"),
    url("../src/fonts/Montserrat-Regular.svg") format("svg"),
    url("../src/fonts/Montserrat-Regular.ttf") format("ttf");
}
  
@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  src: 
    local(Montserrat),
    url("../src/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../src/fonts/Montserrat-Bold.woff") format("woff"),
    url("../src/fonts/Montserrat-Bold.svg") format("svg"),
    url("../src/fonts/Montserrat-Bold.ttf") format("ttf");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  src: 
  local(Quicksand),
    url("../src/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../src/fonts/Montserrat-Bold.woff") format("woff"),
    url("../src/fonts/Montserrat-Bold.svg") format("svg"),
    url("../src/fonts/Montserrat-Bold.ttf") format("ttf");
}

@import 
  "../src/blocks/color-card/color-card.scss",
  "../src/blocks/font/font.scss",
  "../src/blocks/header/header.scss",
  "../src/blocks/container/container.scss",
  "../src/blocks/text-field/text-field.scss",
  "../src/blocks/label/label.scss",
  "../src/blocks/dropdown/dropdown.scss",
  "../src/blocks/counter/counter.scss",
  "../src/blocks/checkbox-button/checkbox-button.scss",
  "../src/blocks/convenience/convenience.scss",
  "../src/blocks/author/author.scss",
  "../src/blocks/likes/likes.scss",
  "../src/blocks/comment/comment.scss",
  "../src/blocks/bullet-list/bullet-list.scss",
  "../src/blocks/radio-buttons/radio-buttons.scss",
  "../src/blocks/toggle-button/toggle-button.scss",
  "../src/blocks/toggle/toggle.scss",
  "../src/blocks/expandable-checkbox-list/expandable-checkbox-list.scss",
  "../src/blocks/star/star.scss",
  "../src/blocks/rate-button/rate-button.scss",
  "../src/blocks/button/button.scss"





  

