include ../author/author.pug
include ../likes/likes.pug

mixin comment(options)
  .comment
    +author({
      url: options.url,
      name: options.name,
      additionalInfo: options.additionalInfo
    })
    .comment__bottom
      .comment__likes
        +likes({ 
          number:options.number, 
          checked: options.checked 
        })
      .comment__text=options.text