include ../../blocks/filter-date-dropdown/filter-date-dropdown.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../blocks/checkbox-button/checkbox-button.pug

aside.side-bar 
  form.side-bar__form
    .side-bar__form-element
      div.label 
        span.label__text даты пребывания в отеле
        +filter-date-dropdown({
          id: "filter-date-dropdown",
          value: "19 Авг - 23 Авг"
        })

    .side-bar__form-element
      div.label 
        span.label__text гости
        +dropdown({ 
          type: "guests",
          guests: {
            adults: 3,
            children: 1,
            babies: 1,
            inputValue: "5 гостей"
          }
        })

    .side-bar__form-element
      +range-slider
      small Стоимость за сутки пребывания в номере
        
    .side-bar__form-element
      div.label 
        span.label__text правила дома
        +checkbox-button({
            text: "Можно курить"
        })
        +checkbox-button({
          text: "Можно с питомцами",
          checked: true
        })
        +checkbox-button({
            text: "Можно пригласить гостей (до 10 человек)",
            checked: true
        })

    .side-bar__form-element
      div.label 
        span.label__text доступность
        +checkbox-button({
          title: "Широкий коридор",
          text: "Ширина коридоров в номере не менее 91 см."
        })
        +checkbox-button({
          title: "Помощник для инвалидов",
          text: "На 1 этаже вас встретит специалист  и проводит до номера."
        })

    .side-bar__form-element
      div.label 
        span.label__text удобства номера
        +dropdown({ 
          type: "rooms", 
          amenities: { bedrooms: "2", rooms: "2", inputValue: "2 комнаты, 2 кровати" } 
        })

    .side-bar__form-element
      +expandable-checkbox-list({
        title: "Дополнитеьные удобства",
        checkboxButtons: [{
            name: "breakfast",
            value: 1,
            text: "Завтрак",
            dataParent: "checkboxList"
          }, {
            name: "desk",
            value: 1,
            text: "Письменный стол",
            dataParent: "checkboxList"
          }, {
            name: "feeding chair",
            value: 1,
            text: "Стул для кормления",
            dataParent: "checkboxList"
          }, {
            name: "television",
            value: 1,
            text: "Кроватка",
            dataParent: "checkboxList"
          },{
            name: "television",
            value: 1,
            text: "Телевизор",
            dataParent: "checkboxList"
          }, {
            name: "shampoo",
            value: 1,
            text: "Шампунь",
            dataParent: "checkboxList"
          }
        ]
      })