extends ../src/layout/page.pug

block variables
  - let title = "Landing page"
  - let theme = "bg-landing"

block append includes
  include ../src/blocks/search-card/search-card.pug

block scripts
  script(defer src="../src/index.js") 

block content
  .container
    .landing
      +search-card
      p.landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения