extends ../src/layout/page.pug

block variables 
  - let title = "Registration"
  - let theme = "bg-registration"


block append includes 
  include ../src/blocks/registration-card/registration-card.pug

block scripts 
  script(defer src="../src/registration.js" type="module") 

block content 
  .container
    .registration
      +registration-card