extends ../src/layout/page.pug

block variables
  -
    let title = "Search room"
    let theme = "with-border"
    let options = [
      {
        urls: [ 
          "../src/blocks/album/image-min.jpg", 
          "../src/blocks/album/image-1-min.jpg", 
          "../src/blocks/album/image-2-min.jpg",
          "../src/blocks/album/image-3-min.jpg"  
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }, {
        urls: [ 
          "../src/blocks/album/image-4-min.jpg", 
          "../src/blocks/album/image-5-min.jpg", 
          "../src/blocks/album/image-6-min.jpg",
          "../src/blocks/album/image-7-min.jpg"  
        ],
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }, {
        urls: [ 
          "../src/blocks/album/image-8-min.jpg", 
          "../src/blocks/album/image-9-min.jpg", 
          "../src/blocks/album/image-10-min.jpg",
          "../src/blocks/album/image-11-min.jpg"  
        ],
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }, {
        urls: [ 
          "../src/blocks/album/image-min.jpg", 
          "../src/blocks/album/image-1-min.jpg", 
          "../src/blocks/album/image-2-min.jpg",
          "../src/blocks/album/image-3-min.jpg"  
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }, {
        urls: [ 
          "../src/blocks/album/image-4-min.jpg", 
          "../src/blocks/album/image-5-min.jpg", 
          "../src/blocks/album/image-6-min.jpg",
          "../src/blocks/album/image-7-min.jpg"  
        ],
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }, {
        urls: [ 
          "../src/blocks/album/image-8-min.jpg", 
          "../src/blocks/album/image-9-min.jpg", 
          "../src/blocks/album/image-10-min.jpg",
          "../src/blocks/album/image-11-min.jpg"  
        ],
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      },{
        urls: [ 
          "../src/blocks/album/image-min.jpg", 
          "../src/blocks/album/image-1-min.jpg", 
          "../src/blocks/album/image-2-min.jpg",
          "../src/blocks/album/image-3-min.jpg"  
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }, {
        urls: [ 
          "../src/blocks/album/image-4-min.jpg", 
          "../src/blocks/album/image-5-min.jpg", 
          "../src/blocks/album/image-6-min.jpg",
          "../src/blocks/album/image-7-min.jpg"  
        ],
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }, {
        urls: [ 
          "../src/blocks/album/image-8-min.jpg", 
          "../src/blocks/album/image-9-min.jpg", 
          "../src/blocks/album/image-10-min.jpg",
          "../src/blocks/album/image-11-min.jpg"  
        ],
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      },{
        urls: [ 
          "../src/blocks/album/image-min.jpg", 
          "../src/blocks/album/image-1-min.jpg", 
          "../src/blocks/album/image-2-min.jpg",
          "../src/blocks/album/image-3-min.jpg"  
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }, {
        urls: [ 
          "../src/blocks/album/image-4-min.jpg", 
          "../src/blocks/album/image-5-min.jpg", 
          "../src/blocks/album/image-6-min.jpg",
          "../src/blocks/album/image-7-min.jpg"  
        ],
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }, {
        urls: [ 
          "../src/blocks/album/image-8-min.jpg", 
          "../src/blocks/album/image-9-min.jpg", 
          "../src/blocks/album/image-10-min.jpg",
          "../src/blocks/album/image-11-min.jpg"  
        ],
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }
    ]


block append includes
  include ../src/blocks/pagination/pagination.pug
  include ../src/blocks/room-cards/room-cards.pug 


block scripts 
  script(defer src="../src/search-room.js")

block content
  .container
    //- боковая панель
    include ../src/blocks/side-bar/side-bar.pug
          
    //- результат поиска
    .rooms 
      .rooms__main 
        +room-cards(options)

      //- пагинация
      .rooms__footer
        +pagination({
          numberOfPages: 15,
          currentPage: 1,
          info: "1 – 12 из 100+ вариантов аренды"
        })