extends ../src/layout/page.pug

block variables 
  - let title = "Sign in"
  - let theme = "bg-sign-in"
  - let preload = true
  

block append includes 
  include ../src/blocks/entry-card/entry-card.pug 

block scripts 
  script(defer src="../src/sign-in.js" type="module")

block content 
  .container
    .sign-in
      .sign-in__item
        +entry-card