include ../star/star.pug

mixin rate-button(options)
  .rate-button(
    data-rating=options.rating 
  )
    - for ( let i = 1; i <= options.scale; i++ ) {
      +star({
        name: options.name,
        value: i,
        checked: i === options.rating || false,
        theme: ( i < options.rating ) ? "active" : "",
        disabled: options.disabled 
      })
    - }