.date-dropdown {
  width: 100%;

  & > .text-field {
    caret-color: transparent;
  }
  
  &  .text-field[name=date-from] {
    margin-right: 20px;
  }

  &:hover .text-field {
    border-color: #1F204180;
  }

  &__wrap {
    display: flex;
    margin-bottom: 5px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  & &__item:first-child {
    margin-right: 20px;
  }

  &__item {
    flex-basis: calc(50% - 10px);
  }

}