.search-card {
  padding: 40px 30px 30px;
  max-width: 380px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  box-shadow: 0px 0px 25px 0px #00000033;
  background-color: white;
  
  &__title {
    margin: 0 0 21px;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
  }

  & .date-dropdown {
    display: inline-block;
    margin-bottom: 8px;
  }

  & .label {
    margin-bottom: 21px;
  }
}