.pagination {
  padding: 5px;
  width: max-content;
  

  &__buttons {
    display: flex;
    align-items: center;
    .button {
      line-height: 40px;
      margin-right: 10px;
    }
  }

  &__ellipsis {
    display: inline-block;
    width: 40px;
    text-align: center;
  }

  &__info {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #1F2041BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11px;
    padding: 0 6px;
  }
}