include ../button/button.pug 

mixin pagination( { numberOfPages, currentPage, info } )
  .pagination
    .pagination__buttons 
      if currentPage >= 3 
        each i in [ 1, 2 ]
          +button({
            type: "button",
            name: "page",
            value: ( i === 1) ? " " : 1,
            modifiers: ( i === 1 ) ?  "button_with-arrow-back" : "button_round"
          })
        span.pagination__ellipsis ...

      - let pageNumbers
      if numberOfPages - currentPage > 3
        - pageNumbers = [ 
        -  ( currentPage % 2 ) ?  currentPage : currentPage - 1,
        -  ( currentPage % 2 ) ?  currentPage + 1 : currentPage, 
        -  ( currentPage % 2 ) ?  currentPage + 2 : currentPage + 1
        - ]
      else 
        - pageNumbers = [ 
        - numberOfPages - 3,
        - numberOfPages - 2,
        - numberOfPages - 1,
        - numberOfPages,
        - ]

      each i in pageNumbers
        +button({
          type: "button",
          name: "page",
          value: i,
          modifiers: ( i === currentPage) ? [ "button_round", "button_active" ] : "button_round"
        })
      
      if numberOfPages - currentPage > 3
        span.pagination__ellipsis ...
        each i in [ 1, 2 ]
          +button({
            type: "button",
            name: "page",
            value: ( i === 1) ? numberOfPages : " ",
            modifiers: ( i === 1 ) ? "button_round" : "button_with-arrow-forward"
          })
 
  span.pagination__info=info