include ../../blocks/album/album.pug 

section.room-cards
  h2.room-cards__title Номера, которые мы для вас подобрали

  ul.room-cards__list
    li.room-cards__item
      +album({
        id: "carousel", 
        urls: [ 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg",
          "../../../src/blocks/album/image-min.jpg" 
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }) 

    li.room-cards__item
      +album({
        id: "carousel_2", 
        urls: [ 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg",
          "../../../src/blocks/album/image-min.jpg" 
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }) 

    li.room-cards__item
      +album({
        id: "carousel_3", 
        urls: [ 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg",
          "../../../src/blocks/album/image-min.jpg"
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }) 

    li.room-cards__item
      +album({
        id: "carousel_4", 
        urls: [ 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg",
          "../../../src/blocks/album/image-min.jpg" 
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }) 
    li.room-cards__item
      +album({
        id: "carousel_5", 
        urls: [ 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg",
          "../../../src/blocks/album/image-min.jpg" 
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }) 
    li.room-cards__item
      +album({
        id: "carousel_6", 
        urls: [ 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg",
          "../../../src/blocks/album/image-min.jpg"  
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }) 
    li.room-cards__item
      +album({
        id: "carousel_7", 
        urls: [ 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg",
          "../../../src/blocks/album/image-min.jpg"  
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }) 
    li.room-cards__item
      +album({
        id: "carousel_8", 
        urls: [ 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg",
          "../../../src/blocks/album/image-min.jpg" 
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }) 
    li.room-cards__item
      +album({
        id: "carousel_9", 
        urls: [ 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg",
          "../../../src/blocks/album/image-min.jpg" 
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }) 
    li.room-cards__item
      +album({
        id: "carousel_10", 
        urls: [ 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg",
          "../../../src/blocks/album/image-min.jpg"  
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }) 
    li.room-cards__item
      +album({
        id: "carousel_11", 
        urls: [ 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg",
          "../../../src/blocks/album/image-min.jpg" 
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }) 
    li.room-cards__item
      +album({
        id: "carousel_12", 
        urls: [ 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg", 
          "../../../src/blocks/album/image-min.jpg",
          "../../../src/blocks/album/image-min.jpg" 
        ], 
        numberOfReviews: "145", 
        price: "9 990", 
        room: "888", 
        serviceClass: "Люкс", 
        rating: 5
      }) 