.font {
  padding: 10px;
  padding-bottom: 41px;
  &__allocation {
    display: inline-block;
    width: 37px;
    text-transform: uppercase;
    color:#1F204140;
    vertical-align: top;
    text-align: right;
    margin-right: 30px;
  }
  &__example {
    display: inline-block;
  }
}

/* Модификаторы размера текста */
@mixin text-size( $font-size, $line-height, $text-transform: none ) {
  font-size: $font-size;
  line-height: $line-height;
  text-transform: $text-transform;
}

.font_text-size_xl {
  @include text-size( 24px, 29px );
}

.font_text-size_lg {
  @include text-size( 19px, 23px )
}

.font_text-size_md {
  @include text-size( 12px, 15px, uppercase )
}

.font_text-size_sm {
  @include text-size( 14px, 24px )
}

/* Модификатор регистра */
.font__allocation_uppercase_disabled {
  text-transform: none;
}

/* Модификатор цвета текста */
.font__example_dark-shade_75 {
  color: #1F2041BF;
}

/* Модификатор жирности текста */
.font__example_bold {
  font-weight: 700;
}

/* Модификаторы размеров контейнера с текстом*/
.font__example_container-size_xl {
  max-width: 369px;
}

.font__example_container-size_lg {
  max-width: 312px;
}

.font__example_container-size_md {
  max-width: 301px;
}

.font__example_container-size_sm {
  max-width: 186px;
}