.date-dropdown {
  width: 320px;
  display: flex;

  & > .text-field[name=date-from] {
    margin-right: 20px;
  }

  & > .text-field:focus, .text-field:hover {
    border-color: #1F204140;
    caret-color: transparent;
  }
}