@import "../filter-date-dropdown/filter-date-dropdown.scss";

.date-dropdown {
  width: 320px;
  display: flex;

  & > .text-field {
    margin-right: 20px;
    caret-color: transparent;
  }

  &:hover .text-field {
    border-color: #1F204180;
  }
}