.color-card {
    display: flex;
    align-items: center;
	padding: 10px;
}

.color-card__square {
    background: #1F2041;
    height: 70px;
    width: 70px;
    border-radius: 6px; 
    margin-right: 40px;
}

.color-card__square_dark-shade-75{
	background: #1F2041BF;
}

.color-card__square_dark-shade-50{
	background: #1F204180;
}

.color-card__square_dark-shade-25{
	background: #1F204140;
}

.color-card__square_dark-shade-5{
	background: #1F20410A;
}

.color-card__square_purple{
	background: #BC9CFF;
}

.color-card__square_green{
	background: #6FCF97;
}

.color-card__name {
	font-weight: 700;	
}
