.expandable-checkbox-list {
  width: 100%;
  position: relative;

  &:focus {
    outline: none;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 10px;
  }

  &__title {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: #1F2041;
    text-transform: uppercase;
  }

  &__arrow {
    position: relative;
    transition: transform .3s ease-in-out;
    
    &_open {
      transform: rotate(-180deg);
    }
  }

  &__bottom {
    overflow: hidden;
    position:absolute;
    width: 100%;
    display: none;
    z-index: 1000;
    
    &_visible {
      display:block;
    }
   }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px 7px 13px 15px;
    transition: transform .3s ease-in-out;
    background-color: white;    

    &_closed {
      transform: translateY( -110% );
    }
  }
}