nav.navigation
  ul.navigation__links 
    li.navigation__item.navigation__item_active 
      a.navigation__link(href="javascript:void(0)") О нас 
    li.navigation__item
      a.navigation__link.navigation__link_dropdown(href="javascript:void(0)") Услуги

      ul.navigation__links.navigation__links_hidden 
        li.navigation__item.navigation__item_hidden 
          a.navigation__link(href="javascript:void(0)") Занятия спортом
        li.navigation__item.navigation__item_hidden 
          a.navigation__link(href="javascript:void(0)") Экскурсии
        li.navigation__item.navigation__item_hidden 
          a.navigation__link(href="javascript:void(0)") Размещение животных

    li.navigation__item 
      a.navigation__link(href="javascript:void(0)") Вакансии
    li.navigation__item 
      a.navigation__link(href="javascript:void(0)") Новости
    li.navigation__item
      a.navigation__link.navigation__link_dropdown(href="javascript:void(0)") Соглашения
      
      ul.navigation__links.navigation__links_hidden 
        li.navigation__item.navigation__item_hidden 
          a.navigation__link(href="javascript:void(0)") Условия использования
        li.navigation__item.navigation__item_hidden 
          a.navigation__link(href="javascript:void(0)") Общие положения
        li.navigation__item.navigation__item_hidden 
          a.navigation__link(href="javascript:void(0)") Уведомления и рассылка