.footer {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1F2041; 

  box-shadow: 0px 10px 20px 0px #1F20410D;
  background-color: white;

  @media (max-width:768px) {
    display: none;
  }

  &__container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    margin-bottom: 83px;
    padding: 100px 0 0;
  }

  &__column {
    max-width: 260px;
  }

  &__main &__column:first-child {
    @media (max-width:820px) {
      max-width: 200px;
    }
  }

  &__main &__column:last-child {
    @media (max-width:820px) {
      margin-top: 20px;
    }
  }

  &__column:not(:last-child) {
    margin-right: 30px;
  }

  &__logo {
    margin-bottom: 17px;
  }

  &__title {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;

    margin-bottom: 18px;
    margin-top: 4px;

    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 23px;
    color: #1F2041BF;
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__list-item {
    margin-bottom: 14px;
    transition: all .2s ease-in;
  }

  &__link {
    text-decoration: none;
    color: #1F204180;
  }

  &__bottom {
    border-top: 1px solid #1F204140;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 23px 0;
  }

  &__bottom &__text {
    margin: 0;
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__socials &__link:not(:last-child){
    margin-right: 20px;
  }

  &_min {
    display: none;
    .footer__container {
      flex-direction: column;
 
      max-width: 768px;
      padding: 122px 10px;

      @media (max-width:768px) {
        padding: 20px 10px;
      }
    }

    .footer__logo {
      display: flex;
      justify-content: center;
    }

    .footer__text {
      text-align: center;
    }

    .footer__socials {
      justify-content: center;
    }

    @media (max-width:768px) {
      display: flex;
    }

  }

  &__list-item:hover {
    transform: scale(1.1);
    text-decoration: underline;
  }
}