
mixin counter( options )  
  .counter
    .counter__inner
      .counter__container-right 
        span.counter__categoty=options.category
      .counter__container-left   
        button.counter__button-minus(type="button" disabled data-parent='dropdown') -
        span.counter__display=(options.number) ? options.number : "0"
        button.counter__button-plus(type="button" data-parent='dropdown') +