
mixin counter( options )  
  .counter
    .counter__inner
      .counter__container-right 
        span.counter__categoty=options.category
      .counter__container-left   
        button.counter__button-minus(disabled data-parent='dropdown') -
        span.counter__display 0
        button.counter__button-plus(data-parent='dropdown') +