.counter {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px; 
  text-transform: uppercase;

  &__inner {
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
  }

  &__button-minus, &__button-plus  {
    color: #1F204180;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 1px solid #1F204140;
    border-radius: 50%;
    cursor: pointer;
  }

  &__button-minus {
      border-color: #1F20410A;
      color: #1F20410A;
  }
  
  &__display {
    margin: 0 5px;
    display:inline-block;
    width: 15px;
    text-align: center;
  }
}

